<div class="board-container">
	<div class="game-board" id="tictactoe">
		{{ $gameID := .ID }}
		{{ range $index, $cell := .State }}
		{{ if $cell.Clickable }}
		<div class="{{$cell.Classes}}" id="{{ $index }}" hx-swap="outerHTML" hx-target=".board-container"
			hx-post="/games/{{$gameID}}?move={{$index}}">

		</div>
		{{ else }}
		<div class="{{$cell.Classes}}" id="{{ $index }}">
			{{ if ne $cell.Content "_" }}
			{{ $cell.Content }}
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
	</div>
	<p id="game-text">{{ .StatusText }}</p>
	{{ if .GameOver }}
	<div class="button-group">
		<button hx-get="/games/tictactoe" hx-target=".content">Play Again</button>
		<button hx-get="/gamelist" hx-target=".content">Play Something Else</button>
	</div>
	{{ end }}
</div>
