{{ define "title" }}Gomes{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "body" }}
<header>
	<h1 class="title">Welcome to Gomes!</h1>
</header>
<div class="content">
	<h2>Choose a game</h2>
	<div class="gamelist">
		<a href="/games/chess">
			<div class="gamecard">
				<h3>Chess</h3>
				<p>The ultimate strategy game!</p>
			</div>
		</a>
		<a href="/games/tictactoe">
			<div class="gamecard">
				<h3>Tic-Tac-Toe</h3>
				<p>Be the first to get three in a row!</p>
			</div>
		</a>
	</div>
</div>
{{ end }}
